# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [4]:
#Your code here
import pandas as pd
df = pd.read_csv('Data/Zipcode_Demos.csv')
df

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,COUNT MALE,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,PERCENT MALE,0.396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,COUNT GENDER UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,PERCENT GENDER UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,COUNT GENDER TOTAL,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,PERCENT GENDER TOTAL,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,COUNT PACIFIC ISLANDER,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,13,PERCENT PACIFIC ISLANDER,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,14,COUNT HISPANIC LATINO,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,PERCENT HISPANIC LATINO,0.105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,COUNT AMERICAN INDIAN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,17,PERCENT AMERICAN INDIAN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18,COUNT ASIAN NON HISPANIC,3.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,19,PERCENT ASIAN NON HISPANIC,0.437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,COUNT WHITE NON HISPANIC,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,PERCENT WHITE NON HISPANIC,0.036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,22,COUNT BLACK NON HISPANIC,2.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,23,PERCENT BLACK NON HISPANIC,0.181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,24,COUNT OTHER ETHNICITY,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,25,PERCENT OTHER ETHNICITY,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,26,COUNT ETHNICITY UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,27,PERCENT ETHNICITY UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,28,COUNT ETHNICITY TOTAL,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29,PERCENT ETHNICITY TOTAL,79.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,30,COUNT PERMANENT RESIDENT ALIEN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,PERCENT PERMANENT RESIDENT ALIEN,0.061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,COUNT US CITIZEN,8.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,33,PERCENT US CITIZEN,0.739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,34,COUNT OTHER CITIZEN STATUS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,35,PERCENT OTHER CITIZEN STATUS,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,36,COUNT CITIZEN STATUS UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,37,PERCENT CITIZEN STATUS UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,38,COUNT CITIZEN STATUS TOTAL,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,39,PERCENT CITIZEN STATUS TOTAL,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,40,COUNT RECEIVES PUBLIC ASSISTANCE,2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,41,PERCENT RECEIVES PUBLIC ASSISTANCE,0.151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,42,COUNT NRECEIVES PUBLIC ASSISTANCE,7.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,43,PERCENT NRECEIVES PUBLIC ASSISTANCE,0.649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,44,COUNT PUBLIC ASSISTANCE UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,45,PERCENT PUBLIC ASSISTANCE UNKNOWN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,46,COUNT PUBLIC ASSISTANCE TOTAL,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
47,48,10001,44,22,0.5,22,0.5,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
48,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
49,50,10003,1,1,1,0,0,0,0,1,...,1,100,0,0,1,1,0,0,1,100
50,51,10004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,52,10005,2,2,1,0,0,0,0,2,...,2,100,0,0,2,1,0,0,2,100
52,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
53,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
54,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
55,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0,3,1,0,0,3,100

In [11]:
prev_count = 10**3
for row in df.index:
    count = 0
    for entry in df.iloc[row].isnull():
        if entry:
            count += 1
    if count != prev_count and row != 0:
        print('row:', row, 'count:', count)
    prev_count = count

row: 1 count: 44
row: 46 count: 0

In [15]:
df1 = pd.read_csv('Data/Zipcode_Demos.csv', skiprows = 1, nrows =45, usecols=[1,2,3])
df1

                             Unnamed: 1          0  Unnamed: 3
0                     JURISDICTION NAME  10005.800         NaN
1                    COUNT PARTICIPANTS      9.400         NaN
2                          COUNT FEMALE      4.800         NaN
3                        PERCENT FEMALE      0.404         NaN
4                            COUNT MALE      4.600         NaN
5                          PERCENT MALE      0.396         NaN
6                  COUNT GENDER UNKNOWN      0.000         NaN
7                PERCENT GENDER UNKNOWN      0.000         NaN
8                    COUNT GENDER TOTAL      9.400         NaN
9                  PERCENT GENDER TOTAL     80.000         NaN
10               COUNT PACIFIC ISLANDER      0.000         NaN
11             PERCENT PACIFIC ISLANDER      0.000         NaN
12                COUNT HISPANIC LATINO      2.000         NaN
13              PERCENT HISPANIC LATINO      0.105         NaN
14                COUNT AMERICAN INDIAN      0.000         NaN
15              PERCENT AMERICAN INDIAN      0.000         NaN
16             COUNT ASIAN NON HISPANIC      3.600         NaN
17           PERCENT ASIAN NON HISPANIC      0.437         NaN
18             COUNT WHITE NON HISPANIC      0.800         NaN
19           PERCENT WHITE NON HISPANIC      0.036         NaN
20             COUNT BLACK NON HISPANIC      2.600         NaN
21           PERCENT BLACK NON HISPANIC      0.181         NaN
22                COUNT OTHER ETHNICITY      0.400         NaN
23              PERCENT OTHER ETHNICITY      0.040         NaN
24              COUNT ETHNICITY UNKNOWN      0.000         NaN
25            PERCENT ETHNICITY UNKNOWN      0.000         NaN
26                COUNT ETHNICITY TOTAL      9.400         NaN
27              PERCENT ETHNICITY TOTAL     79.900         NaN
28       COUNT PERMANENT RESIDENT ALIEN      0.500         NaN
29     PERCENT PERMANENT RESIDENT ALIEN      0.061         NaN
30                     COUNT US CITIZEN      8.900         NaN
31                   PERCENT US CITIZEN      0.739         NaN
32           COUNT OTHER CITIZEN STATUS      0.000         NaN
33         PERCENT OTHER CITIZEN STATUS      0.000         NaN
34         COUNT CITIZEN STATUS UNKNOWN      0.000         NaN
35       PERCENT CITIZEN STATUS UNKNOWN      0.000         NaN
36           COUNT CITIZEN STATUS TOTAL      9.400         NaN
37         PERCENT CITIZEN STATUS TOTAL     80.000         NaN
38     COUNT RECEIVES PUBLIC ASSISTANCE      2.300         NaN
39   PERCENT RECEIVES PUBLIC ASSISTANCE      0.151         NaN
40    COUNT NRECEIVES PUBLIC ASSISTANCE      7.100         NaN
41  PERCENT NRECEIVES PUBLIC ASSISTANCE      0.649         NaN
42      COUNT PUBLIC ASSISTANCE UNKNOWN      0.000         NaN
43    PERCENT PUBLIC ASSISTANCE UNKNOWN      0.000         NaN
44        COUNT PUBLIC ASSISTANCE TOTAL      9.400         NaN

In [17]:
df1 = pd.read_csv('Data/Zipcode_Demos.csv', skiprows = 47)
df1

,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,48,10001,44,22,0.50,22,0.50,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
1,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
2,50,10003,1,1,1.00,0,0.00,0,0,1,...,1,100,0,0.00,1,1.00,0,0,1,100
3,51,10004,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,52,10005,2,2,1.00,0,0.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100
5,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0.00,6,1.00,0,0,6,100
6,54,10007,1,0,0.00,1,1.00,0,0,1,...,1,100,1,1.00,0,0.00,0,0,1,100
7,55,10009,2,0,0.00,2,1.00,0,0,2,...,2,100,0,0.00,2,1.00,0,0,2,100
8,56,10010,0,0,0.00,0,0.00,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,57,10011,3,2,0.67,1,0.33,0,0,3,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [23]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
except Exception as e:
    #handle your exception e
    print(e)

Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [46]:
#Hint: here's a useful programming pattern to use.
for i in range(0, 2332):
    try:
    #do something
        df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i)
    except Exception as e:
    #handle your exception e
        print(i, e)

1962 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1963 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1964 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1965 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1966 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1967 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1968 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1969 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1970 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1971 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1972 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1973 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1974 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1975 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1976 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1977 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1978 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1979 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1980 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1981 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1982 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1983 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1984 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1985 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1986 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1987 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1988 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1989 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1990 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1991 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1992 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1993 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1994 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1995 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1996 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1997 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1998 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

1999 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2000 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2001 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2002 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2003 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2004 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2005 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2006 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2007 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2008 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2009 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2010 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2011 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2012 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2013 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2014 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2015 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2016 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2017 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2018 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2019 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2020 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2021 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2022 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2023 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2024 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2025 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2026 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2027 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2028 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2029 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2030 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2031 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2032 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2033 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2034 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2035 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2036 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2037 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2038 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2039 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2040 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2041 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2042 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2043 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2044 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2045 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2046 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2047 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2048 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2049 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2050 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2051 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2052 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2053 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2054 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2055 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2056 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2057 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2058 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2059 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2060 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2061 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2062 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2063 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2064 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2065 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2066 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2067 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2068 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2069 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2070 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2071 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2072 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2073 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2074 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2075 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2076 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2077 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2078 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2079 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2080 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2081 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2082 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2083 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2084 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2085 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2086 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2087 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2088 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2089 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2090 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2091 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2092 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2093 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2094 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2095 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2096 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2097 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2098 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2099 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2100 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2101 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2102 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2103 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2104 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2105 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2106 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2107 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2108 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2109 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2110 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2111 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2112 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2113 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2114 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2115 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2116 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2117 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2118 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2119 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2120 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2121 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2122 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2123 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2124 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2125 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2126 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2127 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2128 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2129 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2130 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2131 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2132 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2133 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2134 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2135 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2136 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2137 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2138 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2139 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2140 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2141 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2142 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2143 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2144 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2145 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2146 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2147 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2148 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2149 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2150 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2151 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2152 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2153 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2154 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2155 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2156 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2157 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2158 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2159 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2160 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2161 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2162 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2163 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2164 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2165 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2166 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2167 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2168 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2169 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2170 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2171 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2172 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2173 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2174 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2175 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2176 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2177 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2178 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2179 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2180 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2181 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2182 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2183 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2184 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2185 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2186 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2187 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2188 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2189 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2190 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2191 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2192 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2193 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2194 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2195 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2196 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2197 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2198 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2199 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2200 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2201 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2202 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2203 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2204 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2205 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2206 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2207 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2208 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2209 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2210 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2211 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2212 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2213 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2214 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2215 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2216 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2217 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2218 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2219 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2220 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2221 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2222 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2223 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2224 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2225 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2226 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2227 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2228 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2229 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2230 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2231 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2232 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2233 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2234 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2235 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2236 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2237 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2238 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2239 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2240 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2241 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2242 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2243 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2244 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2245 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2246 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2247 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2248 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2249 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2250 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2251 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2252 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2253 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2254 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2255 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2256 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2257 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2258 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2259 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2260 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2261 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2262 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2263 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2264 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2265 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2266 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2267 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2268 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2269 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2270 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2271 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2272 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2273 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2274 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2275 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2276 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2277 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2278 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2279 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2280 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2281 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2282 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2283 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2284 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2285 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2286 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2287 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2288 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2289 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2290 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2291 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2292 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2293 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2294 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2295 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2296 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2297 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2298 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2299 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2300 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2301 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2302 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2303 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2304 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2305 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2306 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2307 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2308 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2309 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2310 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2311 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2312 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2313 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2314 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2315 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2316 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2317 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2318 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2319 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2320 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2321 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2322 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2323 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2324 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2325 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2326 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2327 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2328 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2329 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2330 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

2331 Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

In [47]:
df1

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0.0,HkYqGb0Gplmmk-xlHTRBoA,1.0,The score should be negative. Its HORRIBLE. Th...,0.0,NhOc64RsrTT1Dls50yYW8g
6,12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0.0,RgqWdZA4xR023iP3T6jVfA,5.0,I went there twice and I am pretty happy with ...,0.0,NhOc64RsrTT1Dls50yYW8g
7,19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0.0,51RHs_V_fjuistnuKxNpEg,5.0,Finally! After trying many Mexican restaurants...,0.0,5ngpW5tf3ep680eG1HxHzA
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0.0,alI_kRKyEHfdHibYGgtJbw,1.0,I have to write a review on the Fractured Prun...,0.0,Fc_nb6N6Sdurqb-rwsY1Bw
9,26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0.0,85DRIjwPJOTb4q0qOlBstw,1.0,I wish i could tell you all about the food but...,1.0,Fc_nb6N6Sdurqb-rwsY1Bw
10,27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0.0,GbiLIKmQPVCBtdNkTVdVSA,5.0,Wonderful! One of my favorite places. BBQ is e...,0.0,G22ITfVETYHtIhnn5lLRrQ
11,28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0.0,UaHgsL0xS4UnJ_iKqeOk_w,5.0,The price is about the same as Quizinos. The s...,0.0,FjH3TH8OvHGLNEbzdEYlNg
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0.0,c4zzAD1S6721Fh-acCBy-g,4.0,The food was ok. You get a lot of food for the...,0.0,FjH3TH8OvHGLNEbzdEYlNg
13,30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0.0,TTBwocu2mvqJFJrwmJN0Sw,5.0,The staff were friendly and helpful. The food ...,1.0,FjH3TH8OvHGLNEbzdEYlNg
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0.0,-CresnnXQSHrQ85Ogm-Pqw,5.0,The staff were very helpful. We painted potter...,0.0,FjH3TH8OvHGLNEbzdEYlNg
15,32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0.0,U04YgYr4PiGUxB46J4xapg,2.0,Limited vegetarian options. Ordered Greek sala...,0.0,B7Fh30KQT1xPSGt_pIhRRA
16,35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0.0,s9cpVj40VR_yl0lXbZQe6w,5.0,I trust my vehicles here. Comparable prices. M...,0.0,zx_Op2OAOM_fRic9tU-jqA
17,40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0.0,AJ0IglpYAp2D0daOlVGIdg,1.0,This place doesn't even deserve 1 star. Horrib...,18.0,Ka7TIp74VHSa90rfdg4_2g
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0.0,5D_MsAJHrMa8QKkpE3g1Sg,5.0,The butter burger was cooked perfectly and jui...,0.0,Ka7TIp74VHSa90rfdg4_2g
19,42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0.0,5bWN_IN8MQGjJ6_ZIXffDw,5.0,Best location ever! I love love love the manag...,0.0,yyPHK6khPa4-ErV9U32x3A
20,74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0.0,RW_mYzHYfdqn6g7xVgIcKg,4.0,This was a real fun time. Lots of laughs and e...,NaN,NaN
21,Food was pretty decent as well. Like the salad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4 stars since I'm bummed there were no mojitos.,0,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,79,yz3KtngrF2PQrif8JW7gdw,0,2016-05-28,0.0,SLA1YP9doUc8h-6Kd34QmA,1.0,Horrible. The smart ones have closed their acc...,NaN,NaN
24,Manager doesn't take accountability for the la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Be smart take you money out and run.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,83,T2XdzAcj0M_kBD9_BHfZlw,0,2016-05-08,0.0,qxPiEGIHy5xyVy78avH5Rg,4.0,Love the 'old school' ambiance. Friendly staff...,NaN,NaN
27,Come for the popcorn and drinks.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,92,AtbXj3Rg1GF6Dj5zu6KCDg,0,2012-10-11,0.0,q6ij-nz5d_hvdjuelho1pQ,5.0,Better service and much better prices than the...,0.0,WnM2AmNIint5b5f688nmPg
29,95,6tSvz_21BMo3a4GaItwa0g,0,2017-04-08,0.0,66FSK2J1uHJqVI1Z8QiFGw,4.0,I love how they have no rice sushi options. Th...,0.0,Yy_iGXxLpL6tYDQoE-6XVg
...,...,...,...,...,...,...,...,...,...,...
1931,4929,MQJxekA2SN8kmoo-kiq1dw,0,2016-08-11,0.0,nSkln1WMfPcYMlu9_U_2Rg,4.0,Make sure you get her tomato salad now while i...,0.0,gqYegYGd-N4TLUile0CS8g
1932,4931,C3GUi1zAtJdDBWrPoPZjBQ,1,2016-08-11,1.0,y7L3g9JrkUbh07NnfUTX0Q,4.0,I love their beer. I love it. I should have co...,1.0,gqYegYGd-N4TLUile0CS8g
1933,4932,hyyy_yFDI3CJJaG3uROGBA,0,2016-08-11,0.0,Y3doD-V1_HE5HqkkVzqwkw,4.0,The most consistent place I've ever been to as...,0.0,gqYegYGd-N4TLUile0CS8g
1934,4933,OF19lUVQHj8pVaSACNewWg,0,2016-08-11,0.0,Ct3tfJWvJbS2NpMO48ruig,3.0,Been there a few times. I feel like I'm a both...,0.0,gqYegYGd-N4TLUile0CS8g
1935,4935,OA5Li3ySzhrbG_WvD_QGYA,0,2016-08-11,0.0,ihkFnY4-zKqf4xcE9kieSA,5.0,Best tacos for price there are. They brought f...,0.0,gqYegYGd-N4TLUile0CS8g
1936,4937,7m1Oa1VYV98UUuo_6i0EZg,0,2014-11-03,0.0,LnjBL-Iammf1_wb3uYVb1w,5.0,Best burgers in town hands down. Presentation ...,0.0,fdkfe69RTWTYws9oEcjRAQ
1937,4941,oa52t2Nfb7sOCqJE5M5hzg,1,2014-10-31,0.0,0ZkpokXX9Rk-1efEMgJ6ug,5.0,Cuisine for both meals was very amazing. Turn ...,0.0,fdkfe69RTWTYws9oEcjRAQ
1938,4942,j2bx_ctb_ED3zbfSaqhQmQ,0,2014-10-23,0.0,fpS7DeGecld3hJDVfLykEA,5.0,Service was and always is amazing. Food here i...,0.0,fdkfe69RTWTYws9oEcjRAQ
1939,4948,UO4HTFr0D_hEYvxrItx9vA,0,2015-12-28,0.0,VL38auKCiOYInYF2rYAd-g,1.0,It took almost an hour plus windows and floors...,0.0,L2XjX7843f9Jn09NTh0qvQ
1940,4951,NJ0RzuWd5xDqfJejYQZ65g,0,2009-12-10,0.0,YLQt2zCcXd_iJhzFdBBh3w,5.0,Wonderful food and service. I got the beet sal...,0.0,sNUD7INzDJYtuj6jAuIMRg
1941,4954,miMx3VNOW8qPJC5wEGaIOw,0,2013-06-26,0.0,Joh4pM9wb0EseqEITdMnAQ,5.0,Great food and people running it. I highly re...,NaN,NaN
1942,Again: get a Vermicelli bowl.,1,sNUD7INzDJYtuj6jAuIMRg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1943,4955,mlCDsdVFuZvRGrJTfQ6amw,0,2013-06-24,0.0,qeC6SaRgH4U6MxW0jE6R7w,4.0,Definitely worth the detour off of 80 to get s...,0.0,sNUD7INzDJYtuj6jAuIMRg
1944,4956,yLKoESPQ8BN7dn6ADzZicQ,0,2013-06-26,0.0,AJKCDiBmqFD4KjpbfOUHVg,4.0,Definitely one of the better options along gre...,NaN,NaN
1945,The menu is on eatcu's website.,1,sNUD7INzDJYtuj6jAuIMRg,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946,4960,xrtyYnxgx7bTM3AEiwjWiA,0,2015-05-10,0.0,RhsBkpQpJn5wQnmcjo6HJA,5.0,The pantry was great came from a long trip had...,0.0,zL9ClwW6VnzJzsQVpMIXaQ
1947,4961,cQlmYFkJt1axuaKE3FiPxQ,0,2015-05-10,0.0,MdgbAedU24AL-2mXkbo_Jg,1.0,First time we stopped Monicals sat for eight m...,0.0,zL9ClwW6VnzJzsQVpMIXaQ
1948,4967,Kkpnsw5cuUwySbSKYUl7Iw,0,2017-12-03,0.0,8aX9VP1V0WVcuTN75mST6g,5.0,I have been here a few times and found the sta...,0.0,LTvChiWwJ7Y2hjBExB0a0Q
1949,4971,uD8SU0khj7Kn4BOrL-dwWw,1,2015-02-16,1.0,Cl129hSCUo-o41KjJQltcw,1.0,The line at the cutting table is ridiculous. T...,3.0,X72tQyDHRehGs6rwgt4EmQ
1950,4972,RWuYX5v7m7giMDmmhP7sVA,0,2016-06-16,0.0,bpr5_1x3RS3Dv4wLUa8B6Q,5.0,Lucas and his staff could not be more helpful ...,0.0,X72tQyDHRehGs6rwgt4EmQ
1951,4974,QhJT2fro3Dp1AaIVY7pgzQ,0,2017-06-25,0.0,kb4uFSvshz9Z2s8PcpekyA,1.0,The service was good and the lady who works th...,0.0,gOKk2aeRj49wAVGxGhdLZQ
1952,4982,K7lWdNUhCbcnEvI0NhGewg,0,2015-01-15,0.0,RMisEz2shYxuN_v_3nI2tw,4.0,I came to this buffet because of the ratings i...,0.0,cyR413IWtGe4VVuad4P-ow
1953,4984,A8UtlAQem2hPDe-UfsvndQ,0,2017-08-06,0.0,x_6xVjcOJL1OCcoQiEhF2g,5.0,This is the best Cajun food in Phoenix. Best E...,0.0,V2djoi-PqvPI1HcQUiy0lg
1954,4986,UCKwaY8_cgYZ4U0hZYWIUA,1,2014-01-28,0.0,u2rpsq1QFr66OURcIL-2_g,1.0,Do not use. Not reliable. Paid $1500 deposit i...,4.0,HLTht1eRoaRjnURKVnF31A
1955,4990,5jXwI9WpDxGDmzmkmE0RTg,0,2010-11-06,0.0,YGJKmW0h-qQD79qZPEf7Lw,5.0,There were 5 of us who tried Oishi. All of us...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1956,4993,u8C8pRvaHXg3PgDrsUHJHQ,0,2016-08-08,0.0,gXmHGBSBBz2-uHdvGf4lZQ,2.0,just went to a retirement party upstairs and t...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1957,4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0.0,u-zqCN_IXfypJIUzIVUuzw,5.0,Great restaurant and great atmosphere.,NaN,NaN
1958,I had an awesome great time with friends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,I loved the tapas and the excellent paella.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,I can't wait to come back soon.,0,otDVyX37h61WEbqPLEjCmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#Hint: here's a useful programming pattern to use.
for i in range(500):
    try:
        #do something
        df2 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows =i, skiprows=1962, names=df1.columns)
    except Exception as e:
        #handle your exception e
        print(i,e)
df2

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,STAY AWAY FROM THIS PLACE!!!!!!,5,sDofYImMQQmu4Le5G9zmpQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3948,GAKFx4jFUtTOTpp_jDJnuA,0,2017-09-01,0,OUZWMw7EgO7D596pUelSlA,5,Nice relaxing atmosphere. Friendly service and...,1,6vJY67yve43Ijvn8RKVUow
2,3949,0QzCeORfF8EY34UODWRV9A,0,2017-09-03,0,7lbykaWFD8YBwT0mU1Rexw,4,Very pleased with our experience. Great off th...,0,6vJY67yve43Ijvn8RKVUow
3,3950,tlt8zNrZ6_A3DmXiM-cnBA,0,2016-06-12,0,Nd_soHwCYi8adcNIT2w9LQ,1,Wife went to this location and was horrible. N...,0,S0dnPb1OzaqdBSOxyLr7BQ
4,3952,XD0LjNuPPwJPsTAHecUh7A,0,2015-08-23,0,FUUTAr5CECrkfRa9Y2-MSg,1,Not baby friendly anymore.,NaN,NaN
5,Refused service for having an urban sized stro...,0,RsgRH4ixaiJ1zWnmXam6pQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3953,J64Yg3hQJXSI-ipnfJUkiw,0,2016-08-24,0,WyXXGm0ryKoAlLi68pq-kg,2,Paid for an Escalade but got picked up by an o...,4,RsgRH4ixaiJ1zWnmXam6pQ
7,3956,JJDxLSeHkEFPUrPCxEFp0w,0,2015-11-12,0,jSVDzcNUKrd3HpF8xGxScA,2,If you don't mind the mechanic's attitude prob...,1,RsgRH4ixaiJ1zWnmXam6pQ
8,3957,3k9treY8PmsZ42bKmuICgA,0,2015-10-11,0,OT7KEec2NRlCc8mGMZOf6A,2,Not sure why this place gets 4*... Food is meh...,1,RsgRH4ixaiJ1zWnmXam6pQ
9,3959,JJys4pp5xmf3bB4E3lmxRA,0,2015-11-07,0,3ARL8Y4ZPZ1qE9vEk2PH6w,1,It was decent before now it's terrible. Wings ...,1,RsgRH4ixaiJ1zWnmXam6pQ
10,3966,wrcfLni9nmJK46Wb4XMkaQ,0,2016-06-09,0,Bi6sJcqCyi3sJj2hyYMCIQ,5,This location is awesome. Juan & Lily work har...,0,peAIvDTWt8K5Ie06LKwI-Q
11,3971,4iB4J5fxd8tbYklDAnaD5g,0,2017-08-08,0,eYaDrVWjgRLuW_gGtYIPvA,4,I love the lazy river and the condo style room...,NaN,NaN
12,The reason for 4 stars and not 5 is the enforc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Another drawback is that 3 days in a row eithe...,1,E7PoXTT0MVc8xcayikQnsA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3972,bjllusUsLq9zE4yZnLpOzg,1,2017-04-01,0,tVcGeNVOX9OZBeIaCwJ7Ng,5,Awesome fresh spiced just right Lebanese food....,1,E7PoXTT0MVc8xcayikQnsA
15,3978,Vd5n_Jv9vtvD6dzl3ReNWg,0,2017-07-01,0,rcczwv8dwm2q9PYOOoVSVQ,5,Seth Harrison commands an excellent crew. Seth...,0,Wn0H7qlBp7qxkTKO1yb7ng
16,3980,Qx2BnG2jpVV6XVFOYPfGcQ,0,2017-01-24,0,UcRaCYAPxYs5S6i3Y6FD7Q,5,Had an excellent experience with Greg Saxe...I...,0,f-7fj7zYD4Bt16X_fylhwg
17,3981,UdMrPZIXPTZfKhHBw_toKg,0,2017-01-24,0,dtL7CbqsBm-OPJM8t4jJ3g,5,Absolutely the best massage of my life. This ...,0,f-7fj7zYD4Bt16X_fylhwg
18,3991,C2zIZ9LRUsYvpbYyuESedA,0,2013-09-11,0,_2OuntrsiCCHlkLHdK_haQ,1,JUST TERRIBLE!,NaN,NaN
19,Called them and left a voice message after rea...,0,7v7fsVrUCYMYQ1oSSvesPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3997,waJ8_8FGJC-j5uIP2im1-A,0,2014-05-15,0,hOCsdqpudPEBXw0aZ-ECDw,5,I will keep it simple. Vincent and crew are t...,0,phnJUC7oDXSM5FZxQOXfLA
21,3998,WyjxWKA0VKs6qiUUU9FOlA,0,2017-10-19,0,9P7FB4mrxmWIVzFQfkh-qA,4,I had a total roof replacement and had several...,0,phnJUC7oDXSM5FZxQOXfLA
22,4000,cX3N8kmxYoqiFzvQsTQ_wg,0,2014-03-17,0,KKk8cyEGGUVZeGyr4A81ww,1,I give this park one star and that's generous!...,0,lndbbUPdqDhrAbTo8KZ_Lw
23,4002,rPk01P-gHFZnBtRyfc7Wrg,1,2014-08-21,1,GD0hHJCuCSkvPHCowIs5Tw,1,The food is not good. Enchilada sauce taste ve...,0,eRqruHinDbcqiabrrwsJnw
24,4003,B1imfnKRvcotaYacPGUrLQ,0,2012-07-16,0,aVYEzil5IbO95WBfJHMDFg,5,Great food and service in good atmosphere. Re...,0,briM6b9_gnvVjft5jly42A
25,4022,TqL0ytKAucWdW2mR7EbayA,1,2014-02-20,0,Rp3L3s76vWc2VH_Ts18tsQ,5,Best Indian food I had in Pittsburgh.,NaN,NaN
26,Love the Saag! Highly Recommend it!,8,xdm-O1HveAvpwfz7rF1Hbw,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4027,ODJJdWPVThx0xQxbZlLE9w,0,2013-09-17,0,5Ud8MCxfpQDDMId3cOMmKQ,5,Madame Et Monsieur is an Excellent & clean fac...,NaN,NaN
28,I highly recommend it!,0,nLcQKpECIJzjE3VDM7HI_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4028,iIwKW2cBAxjElE8eUzjwqA,1,2014-06-12,2,UOF3d3KodUR8BkRpQKcdHg,1,Burgers are good but that's what you expect wi...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
469,4237,ZM-ljL_Y6bR4qEYsGHws5A,0,2016-11-05,0,bl6WJnhCl0s1Jd4TUcSX_g,2,Called to see if they had availability and a g...,so come right over. I said I was a 10 minute...,0
470,4498,VRTfAP2DjvUYxRY3dw37hA,0,2014-01-08,0,3CYH_03G3ZtIHoA3gIWpLA,4,Luxurious. But of course,you'd expect that from the Bellagio.,NaN
471,Chi,my pedicurist,was wonderful. Super sweet and very attentive...,it was heavenly. When it was all over,I was kicking myself for not scheduling addit...,NaN,NaN,NaN,NaN,NaN
472,Four stars instead of five because:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,- The ladies in reception were a bit rude,both over the phone and more so in person.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,- My pedicure only lasted two days! A pedicure...,even 3 weeks without a single chip.,7,ETmpBain2s02PqHGwSr7hQ,NaN,NaN,NaN,NaN,NaN,NaN
475,2716,4VHp2gei1bpY68ZzEZE9Bg,2,2013-05-22,9,m0eO3358SKkzY7isf6kEpg,1,Not impressed at all. I paid 200 to go up and ...,which was good. Unfortunately,the other 1/2 was spent bad mouthing the comp...
476,3426,8g3u6g7J93nIOF8owARxew,0,2014-08-13,0,JVwa-qaFERoa2dg0poiBcg,3,If you're looking for a shawarma in this area,this is your only option. Better tasting opti...,NaN
477,Had the traditional chicken shawarma. one of m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,Price was good and the sandwich size reflected...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,This place gets a bit of traffic from being in...,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,18,alG1fb1kl2vmT8s34jbbHg,1,2015-09-05,1,eShfPWENUmZ9sP7fstPt7Q,5,Great haircut,cool atmosphere,and really nice people! The price is fair and...
481,2409,YJ8ljUhLsz6CtT_2ORNFmg,0,2015-12-04,0,8IQnZ54nenXjlK-FGZ82Bg,5,I really enjoyed their food. Went there for th...,chicken pesto sandwich,and a Belgian Marguerita. I like the fact tha...
482,4365,vA7gCRT0JsgSYy0U8NY0nA,0,2017-06-15,0,FEtN_aawKKR_N5WlDRqmYQ,5,Amazing. Always craving Poke and this place do...,0,N7EaJ4fjIbCANPGhNSXudw
483,1734,HmsCerK_rub0Ulo0aC0f9A,0,2016-05-04,3,EpnVOdjDJ_yW5LViaUYC1Q,1,Sashimi Salad: OVERPRICED & UNDERWHELMING!!! ...,healthy and light lunch between appointments ...,the peak of lunch hour
484,After I ordered and my sashimi salad arrived ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,Most sashimi salads I've had are made with hea...,healthy and satisfying meal. The size of thes...,one strand of pickled carrot,a small clump of white shredded radish with a...,the same as what I have paid in other restaur...,left hungry and very dissatisfied.,2,VuQug_nhR6T_kiVIBT2xaA,NaN,NaN
486,496,zg5rJfgT4jhzg1d6r2twnA,0,2014-06-21,0,Zbj0HgdN3AT4l-mbH-EfjA,3,Burger week,NaN,NaN
487,1. Blazing Pineapple Burger ($5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488,- Decent burger. Good size patty and bun. Only...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,Overall:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,Not bad for a quick bite but wouldn't go out o...,0,UGW-9bbBEB3eP1o6mWD_WA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,3275,ZYUCffa5zsT1HPnKxeKQrQ,0,2015-10-03,0,vD0HaT-6CTYVl0NiXpejPw,1,Went to Estrella ONCE for Liquid Gel nails. T...,they were cracking and chipping.,NaN
492,Went here once and ONLY once. Never will retu...,5,gRZunXUG9QSD7SSPLAK0Hw,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,4032,4iFYsHDzkuf3JjSzhaNd2g,0,2013-03-31,0,RkQ6Kaz5zUB04XEDKVDsBQ,5,I am so happy with Shane co. They have exceede...,0,vX06zW6rsonnhXxXQq61IA
494,1120,wCZDFjbSbSjd0CbDSZ6nEg,0,2017-04-05,0,gUXVzIoXADXLCmzRCKnh9A,5,After shopping around for cushion replacement ...,but Valerie even came to my home at no additi...,Tommy Bahama
495,4393,El4FC8jcawUVgw_0EIcbaQ,0,2007-10-06,0,i1skAfC0a0mjvCVjOSJOKg,4,My memorable hotel experience entails a certai...,living room,limo service
496,The lion's den is worth a visit as well!,0,Ud6j2HN40qEhycq2PuwcBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,4542,_mtAXGkVLLB6I9NddO-whQ,6,2011-04-06,0,jZ4bjL-A4X1iFtRzzvPLBQ,5,There sure are a lot of tea places showing up ...,especially since the monstrous success of Dav...,but in my opinion
498,First off,it's not a corporate beast. It's a little bou...,an incredibly nice person whose passion for a...,encourages you to ask questions,and is obviously passionate about the stuff s...,but at Tea Blendz,it just seemed more honest.,NaN,NaN,NaN

In [51]:
pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', names=df1.columns, skiprows=1)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg
5,11,UBv8heCQR0RPnUQG0zkXIQ,0,2016-09-23,0,HkYqGb0Gplmmk-xlHTRBoA,1,The score should be negative. Its HORRIBLE. Th...,0,NhOc64RsrTT1Dls50yYW8g
6,12,hdgYnadxg0GANhWOJabr2g,0,2014-08-23,0,RgqWdZA4xR023iP3T6jVfA,5,I went there twice and I am pretty happy with ...,0,NhOc64RsrTT1Dls50yYW8g
7,19,gZGsReG0VeX4uKViHTB9EQ,0,2017-08-16,0,51RHs_V_fjuistnuKxNpEg,5,Finally! After trying many Mexican restaurants...,0,5ngpW5tf3ep680eG1HxHzA
8,25,f-v1fvtnbdw_QQRsCnwH-g,0,2017-11-18,0,alI_kRKyEHfdHibYGgtJbw,1,I have to write a review on the Fractured Prun...,0,Fc_nb6N6Sdurqb-rwsY1Bw
9,26,yz66FIUPDKGhILDWzRLeKg,0,2017-11-18,0,85DRIjwPJOTb4q0qOlBstw,1,I wish i could tell you all about the food but...,1,Fc_nb6N6Sdurqb-rwsY1Bw
10,27,6qDRqHWqf0EeHupSUEBfKg,0,2015-12-10,0,GbiLIKmQPVCBtdNkTVdVSA,5,Wonderful! One of my favorite places. BBQ is e...,0,G22ITfVETYHtIhnn5lLRrQ
11,28,7AlULGZI1pHt0imODsqdkg,0,2012-02-12,0,UaHgsL0xS4UnJ_iKqeOk_w,5,The price is about the same as Quizinos. The s...,0,FjH3TH8OvHGLNEbzdEYlNg
12,29,th4pZ5LkoIIkb1Vmu_m2DA,0,2012-02-12,0,c4zzAD1S6721Fh-acCBy-g,4,The food was ok. You get a lot of food for the...,0,FjH3TH8OvHGLNEbzdEYlNg
13,30,nsSfCKW9KDB4COj9bzXApw,0,2012-02-12,0,TTBwocu2mvqJFJrwmJN0Sw,5,The staff were friendly and helpful. The food ...,1,FjH3TH8OvHGLNEbzdEYlNg
14,31,cP8ErpZfRzdVR5Fvks-pnQ,0,2012-02-12,0,-CresnnXQSHrQ85Ogm-Pqw,5,The staff were very helpful. We painted potter...,0,FjH3TH8OvHGLNEbzdEYlNg
15,32,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0,U04YgYr4PiGUxB46J4xapg,2,Limited vegetarian options. Ordered Greek sala...,0,B7Fh30KQT1xPSGt_pIhRRA
16,35,SpJYus_184M2TdT7t52rIA,0,2016-11-18,0,s9cpVj40VR_yl0lXbZQe6w,5,I trust my vehicles here. Comparable prices. M...,0,zx_Op2OAOM_fRic9tU-jqA
17,40,qdC2h3MqCNussc5lhzL7gg,0,2015-11-05,0,AJ0IglpYAp2D0daOlVGIdg,1,This place doesn't even deserve 1 star. Horrib...,18,Ka7TIp74VHSa90rfdg4_2g
18,41,XgRDG9E_WLEbl8S-QUqQkQ,0,2015-11-05,0,5D_MsAJHrMa8QKkpE3g1Sg,5,The butter burger was cooked perfectly and jui...,0,Ka7TIp74VHSa90rfdg4_2g
19,42,awgoBwuhzlLGKEIverTGjQ,0,2017-01-21,0,5bWN_IN8MQGjJ6_ZIXffDw,5,Best location ever! I love love love the manag...,0,yyPHK6khPa4-ErV9U32x3A
20,74,iO3GuIiZxzv-iETGVnoeVA,0,2016-11-06,0,RW_mYzHYfdqn6g7xVgIcKg,4,This was a real fun time. Lots of laughs and e...,NaN,NaN
21,Food was pretty decent as well. Like the salad...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4 stars since I'm bummed there were no mojitos.,0,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,79,yz3KtngrF2PQrif8JW7gdw,0,2016-05-28,0,SLA1YP9doUc8h-6Kd34QmA,1,Horrible. The smart ones have closed their acc...,NaN,NaN
24,Manager doesn't take accountability for the la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Be smart take you money out and run.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,83,T2XdzAcj0M_kBD9_BHfZlw,0,2016-05-08,0,qxPiEGIHy5xyVy78avH5Rg,4,Love the 'old school' ambiance. Friendly staff...,NaN,NaN
27,Come for the popcorn and drinks.,1,0pf5VuzE4_1pwj5NJHG5TQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,92,AtbXj3Rg1GF6Dj5zu6KCDg,0,2012-10-11,0,q6ij-nz5d_hvdjuelho1pQ,5,Better service and much better prices than the...,0,WnM2AmNIint5b5f688nmPg
29,95,6tSvz_21BMo3a4GaItwa0g,0,2017-04-08,0,66FSK2J1uHJqVI1Z8QiFGw,4,I love how they have no rice sushi options. Th...,0,Yy_iGXxLpL6tYDQoE-6XVg
...,...,...,...,...,...,...,...,...,...,...
4621,Starting off with drinks,Bamburger serves beer,wine,and old-fashioned Stewart's soda,but what is a burger joint without milkshakes...,including the usual vanilla and chocolate sus...,as well a special flavour each day for the ni...,NaN,NaN,NaN
4622,The menu is varied,offering up soup,salads,sandwiches and desserts,as well as a kid's menu,but almost everyone here is in it for the bur...,from the type of bun,burger patty (beef,chicken,turkey
4623,We went with the Bambamburger ($11.50),which is 2/3 of a pound of prime ground chuck,and the chicken burger ($9.95) for myself,on whole-wheat buns. Both of us outfitted our...,including mushrooms,onions,garlic mayo and cheese sauce for the Bambambu...,and avocado,chipotle mayo,dill pickles and jalapeno peppers for the chi...
4624,Bamburger serves up great burgers,fries and shakes at a fairly good price,although if you go a little overboard with th...,you might quickly end up with a $20 burger,without realizing it. The service was friendl...,and the atmosphere was very comfortable and n...,NaN,NaN,NaN,NaN
4625,If you are hunting for a real deal on a burger,Bamburger might not be what you are looking for,but if you are more on the adventurous side,and want to have fun creating your own burger...,Bamburger will deliver.,8,YHWsLBS8jzZiPjKHMFOaAA,NaN,NaN,NaN
4626,3225,iyyWYpWm8X-6i7kBR3JHuw,0,2014-01-27,0,yLKMQNn8VE3CEDX-TF5CfA,1,Tried to attend a recent basketball game. Purc...,two parents and two kids. Arrived 45 min earl...,1
4627,4674,4KfDcE9iU2isFpoaKeDpgw,0,2012-06-14,0,rFH9iSvRmdm5LtDdsYwwpA,5,Great place to take your kids and interesting ...,0,9gYbRvijurhrnC6yPRlaUw
4628,4719,P4Plzlfm4uJjNmH3wY4W1Q,0,2014-01-14,0,IobIRp1mGJiLg4B6wHAvqQ,2,While I will continue to eat at this establish...,I will only do so because it is the closet Ch...,otherwise I would completely avoid this place...
4629,3440,nW45ez1L6U4PsYhV1BTrGQ,0,2012-05-19,0,abStF7f3_IyfZmOP82baZQ,5,H&F Jewellery is amazing!,NaN,NaN
4630,I had given my husband some ideas of engagemen...,a friend of ours recommended H&F.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4631,The customer service here is great - they are ...,attentive,honest and the prices are very reasonable! My...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4632,We went back for our wedding bands and I worke...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4633,We've recommended 5 other friends to H&F - the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4634,Go to H&F for all your jewellery needs - you w...,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4635,4812,e13SEvJud_vgeDR_doL4sQ,0,2013-03-01,0,lUV1KEm4cl4mluSEFharFQ,4,We loved the food. The service was good and we...,0,NW6gHZ8PlYl1STK1A1Ixeg
4636,1970,9NBkIExYYz3w9O5JdzDOMA,0,2013-11-03,0,RT20_fUNJJNqMNvvjviNbQ,1,Hit or miss. I used these guys twice in a day ...,no call nothing. So I call the dispatch to le...,$20 to go 4 miles? I'll be renting a car tomo...
4637,689,BTcY04QFiS1uh-RpkR7rAg,1,2013-06-02,0,6_A58CCY8SHB7r-Wu7-A5g,5,Came here with my 2 year old daughter for our ...,she asked if everything was ok. We old her w...,great seating!
4638,4874,t0T_4MM4EUHbCzBTF11FHA,0,2016-08-14,0,KqQwNyfoFiJOw911mrULIg,5,Great little restaurant. Not to many tables an...,which is awesome. We had the Pad Thai and the...,0
4639,564,5XYR6doRa5Nj1JMfSDei6A,1,2016-06-14,0,xlGJkxoIBl8XH8wVsPZpnw,5,Always great friendly service and fresh baked ...,NaN,NaN
4640,Highly recommend the custard cakes they are th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4641,The rice flour cake is also really good and a ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4642,The bean cakes are great here too! orange,almond,and a few others I have tried are all good.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4643,Can't go wrong with Nova Era,0,kBNFdviedCPFWyR-wVaAzw,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4644,3458,aLcFhMe6DDJ430zelCpd2A,0,2013-10-02,0,kwiEG_KCpDB6aK5fTSM7iw,2,We were expecting amazing Thai food after all ...,NaN,NaN
4645,This was disappointing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4646,First off,it was really awkward sitting on the benches ...,as people walked past us while to wait for ou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4647,Second,when we were seated,it was so loud. It felt like we were in a hig...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4648,Finally - Food was mediocre. I was extremely d...,but it wasn't flavourful.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4649,Wasn't worth the hype,unfortunately.,1,PkRFSQgSfca9Tamq7b2LdQ,NaN,NaN,NaN,NaN,NaN,NaN
4650,4206,WdBWhGe4Siqg3IYTc4_K4A,0,2016-08-15,0,O0ttxNGxHKtD8Cnnwc_j1g,1,Sunday at 8p. Not many people here at all. We ...,and no one came to take our drink order. We w...,0

## Summary

Congratulations, you now practiced your pandas-importing skills!